body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

h1 {
    margin-bottom: 20px;
    color: #e0e0e0;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

input[type="text"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #bb86fc;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3;
}

h2 {
    margin-top: 20px;
    color: #e0e0e0;
}

input[type="number"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    font-size: 16px;
    background-color: #333;
    color: #e0e0e0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1e1e1e;
    padding: 10px;
    text-align: center;
    color: #e0e0e0;
}

.error {
    position: absolute;
    background-color: #cf6679;
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}